@import url("https://css.gg/attachment.css");
.container {
  width: 100%;
}

.container .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .content form {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1000px) {
  .container .content form {
    width: 90%;
  }
}

.container .content form .title-dv {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .content form .title-dv .input {
  background-color: #212529;
  padding: 0 10px;
  margin: 10px 0;
  color: #ffffff;
  border: 1.2px solid #6d6875;
  height: 35px;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  resize: none;
  outline: none;
}

.container .content form .title-dv .input:focus {
  border: 1.2px solid orange;
}

.container .content form .title-dv .input:focus::-webkit-input-placeholder {
  color: transparent;
}

.container .content form .title-dv .input:focus:-ms-input-placeholder {
  color: transparent;
}

.container .content form .title-dv .input:focus::-ms-input-placeholder {
  color: transparent;
}

.container .content form .title-dv .input:focus::placeholder {
  color: transparent;
}

.container .content form .title-dv .input::-webkit-input-placeholder {
  color: #ffffff;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 200;
}

.container .content form .title-dv .input:-ms-input-placeholder {
  color: #ffffff;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 200;
}

.container .content form .title-dv .input::-ms-input-placeholder {
  color: #ffffff;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 200;
}

.container .content form .title-dv .input::placeholder {
  color: #ffffff;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 200;
}

.container .content form .upload-text {
  background-color: #212529;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
  border: 1.2px solid #6d6875;
  color: white;
  margin: 0;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .content form .upload-text:focus-within {
  border: 1.2px solid orange;
}

.container .content form .upload-text .text-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .content form .upload-text .text-container textarea {
  background-color: #212529;
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  color: white;
}

.container .content form .upload-text .text-container textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.container .content form .upload-text .text-container textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.container .content form .upload-text .text-container textarea:focus::-ms-input-placeholder {
  color: transparent;
}

.container .content form .upload-text .text-container textarea:focus::placeholder {
  color: transparent;
}

.container .content form .upload-text .img-dv {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .content form .upload-text .img-dv .custom-file-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 50%;
  background-color: #2d6a4f;
  border: 1px;
}

.container .content form .upload-text .img-dv .custom-file-upload input[type="file"] {
  display: none;
}

.container .content form .upload-btn {
  background-color: #235a41;
  border: 0;
  outline: none;
  color: #ffffff;
  padding: 5px 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.container .content form .upload-btn:hover {
  background-color: #1d4734;
  opacity: 0.7;
}

.container .content form .category-dv {
  height: 20px;
  margin-top: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #212529;
  border: 1.2px solid #6d6875;
  padding: 10px;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .content form .category-dv:focus-within {
  border: 1.2px solid orange;
}

.container .content form .category-dv textarea {
  background-color: #212529;
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  color: white;
}

.container .content form .category-dv textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.container .content form .category-dv textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.container .content form .category-dv textarea:focus::-ms-input-placeholder {
  color: transparent;
}

.container .content form .category-dv textarea:focus::placeholder {
  color: transparent;
}
/*# sourceMappingURL=add-style.css.map */